/* Default */

*, 
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgray;
}

/* Hamburger Menu Styling */

.container {
  width: 300px;
  height: 300px;
  cursor: pointer;
  position: relative;
  padding: 20px;
  display: grid;
  grid-template:repeat(33%, 3) / 100%;
  border: 1px solid black;
}

.line {
  width: 100%;
  height: 20px;
  background: cornflowerblue;
}

.one,
.two,
.three {
  align-self: center;
  justify-self: center;
}

.one {
  background: plum;
}

/* Hover Animation */

.moveOne {
  animation: move-One 1s forwards;
}

@keyframes move-One {
  50% {
    border-radius: 50%;
    transform: scaleX(0.08) translateY(430%);
  }

  100% {
    border-radius: 50%;
    transform: scaleX(0.08) translateY(430%) translateX(-500%);
  }
}

.moveTwo {
  animation: move-Two 0.5s forwards;
}

@keyframes move-Two {
  100% {
    border-radius: 50%;
    transform: scaleX(0.08);
  }
}

.moveThree {
  animation: move-Three 1s forwards;
}

@keyframes move-Three {
  50% {
    border-radius: 50%;
    transform: scaleX(0.08) translateY(-430%);
  }

  100% {
    border-radius: 50%;
    transform: scaleX(0.08) translateY(-430%) translateX(500%);
  }
}

/* Hover Aniumation Reverse */

.reverseMoveOne {
  animation: reverse-move-one 1s forwards;
}

@keyframes reverse-move-one {
  0% {
    border-radius: 50%;
    transform: scaleX(0.08) translateY(430%) translateX(-500%);
  }

  50% {
    border-radius: 50%;
    transform: scaleX(0.08) translateY(430%);
  }

  100% {
    border-radius: 0;
    transform: scaleX(1) translateY(0) translateX(0);
  }
}

/* Click Animation */

.left-side {
  animation: left-side-animate 1s forwards;
}

@keyframes left-side-animate {
  0% {
    border-radius: 50%;
    transform: scaleX(0.08) translateY(430%) translateX(-500%);
  }

  50% {
    border-radius: 5px;
    transform: scaleX(0.08) translateY(590%) translateX(0%);
  }

  100% {
    border-radius: 5px;
    transform: scaleX(1) translateY(590%) translateX(0%) rotate(45deg);
    z-index: 1;
    width: 150px;
    background: white;
  }
}

.make-big {
  animation: big-circle 1s forwards;
}

@keyframes big-circle {
  0% {
    border-radius: 50%;
    transform: scaleX(0.08);
    justify-self: center;
  }

  100% {
    border-radius: 50%;
    transform: scale(1);
    width: 200px;
    height: 200px;
    justify-self: center;
    background: cornflowerblue;
  }
}

.right-side {
  animation: right-side-animate 1s forwards;
}

@keyframes right-side-animate {
  0% {
    border-radius: 50%;
    transform: scaleX(0.08) translateY(-430%) translateX(500%);
  }

  50% {
    border-radius: 5px;
    transform: scaleX(0.08) translateY(-580%) translateX(0%);
  }

  100% {
    border-radius: 5px;
    transform: scaleX(1) translateY(-580%) translateX(0%) rotate(-45deg);
    z-index: 1;
    width: 150px;
    background: white;
  }
}